html {
  --primary-color: #fff;
  --secondary-color: #282c34;
}

html[data-theme="dark"] {
  --primary-color: #282c34;
  --secondary-color: #fff;
}

.App {
  text-align: center;
  background-color: var(--secondary-color);

}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: var(--secondary-color);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  color: var(--primary-color);
}

p {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#message {
    width: 100%;
    line-height: 32px;
    font-size: 28px;
    margin: 10px;
}

button{
    height: 40px;
    line-height: 32px;
    font-size: 28px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

button:hover{
    background: #ddd;
    opacity: .5;
    cursor: pointer;
}

.title_wrapper {
    width: 500px;
    max-height: 100px;
}

.title_wrapper path {
    opacity: 0;
}

.title_wrapper text {
    font-size: 57px;
    fill: #fbd514;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}