.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #042f4d;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  color: #fbd514;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#message {
    width: 100%;
    line-height: 32px;
    font-size: 28px;
    margin: 10px;
}

button{
    height: 40px;
    line-height: 32px;
    font-size: 28px;
}

button:hover{
    background: #ddd;
    opacity: .5;
    cursor: pointer;
}

.title_wrapper {
    width: 500px;
    max-height: 100px;
}

.title_wrapper path {
    opacity: 0;
}

.title_wrapper text {
    font-size: 57px;
    fill: #fbd514;
}
